@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+SA:wght@100..400&family=Playwrite+RO:wght@100..400&display=swap');

* {
    margin: 0;
    padding: 0;
}


body {
    background: linear-gradient(to right, #cceeff, #fff9cc);
    font-family: "Playwrite AU SA", cursive;
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    font-size: 1rem;
    overflow-x: hidden;
}

h2 {
    font-size: 2rem;
    color: #ff5e9c;
    font-weight: bold;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    text-align: center;
    margin-bottom: 1rem;
}


h3 {
    font-size: 1.5rem;
    color: #17a2b8;
    font-style: italic;
    text-align: center;
    margin-bottom: 1rem;
}


p {
    font-size: 1.05rem;
    line-height: 1.6;
    color: #444;
    text-align: justify;
    text-align: center;
    margin-bottom: 1rem;
    padding: 0 1rem;
}


section h2,
section h3,
section p {
    text-align: center;
}


section {
    margin-bottom: 3rem;
}